<div class="container">
    <h1>My Personal Homepage</h1>
    <p>Read more about me, or checkout more blog posts.</p>
    <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
    <%= link_to 'Blogs', posts_path, class: "btn btn-primary" %>
</div>
